.fixed-menu {
  height: 80px;
  width: 100%;
  background-color: #696969;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
}

.logo a {
  display: flex;
  justify-content: center;
}
.logo a img {
  width: 60px;
}