.user-info {
  margin-top: 100px; 
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
}

.user-info > div {
  margin: 15px;
}

.user-info .user-detail {
  margin: 140px 15px;
}
.profile-photo > div img {
  border: 1px solid #778899; 
  border-radius: 50%;
  width: 80%;
}

span a {
  color: blue;
  margin: 15px;
}

input {
  margin: 30px;
  align-content: center
}

@media only screen and (max-width: 425px) {
  .user-info {
    flex-direction: column;
    font-size: 10px;
    display: flex;
    justify-content: center;
  }
  .profile-photo > div img {
    max-width: 100%;
    display: flex;
    justify-content: center;
  }
  .user-info .user-detail {
    margin: 10px 15px;
  }
}